@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --cor-primaria: #171616; 
  --cor-secundaria: #EDEDED; 
  --azul-claro: #AFC1D0; 
  --azul-escuro: #1C3F60; 
  --verde-limao: #80FF00; 

  --fonte-primaria: 'Rubik', Arial, sans-serif;
  --fonte-secundaria: 'Roboto', Arial, sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-primaria)
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#botao-login{
  padding: 10px;
  color: var(--azul-escuro);
  background-color: var(--cor-secundaria);
  margin: 0;
  padding: 3px;
  font-size: 15px;
  margin-top: 5px;
  border: 1px solid var(--azul-escuro);
}

#botao-registro{
  padding: 10px;
  color: var(--cor-secundaria);
  background-color: var(--azul-escuro);
  margin: 0;
  padding: 3px;
  font-size: 15px;
  margin-top: 5px;
  border: 1px solid var(--azul-escuro);
}

#botao-registro:hover, #botao-login:hover{
  color: var(--cor-primaria);
  background-color: var(--verde-limao);
  border: 1px solid var(--verde-limao);
}

#botao-registro{
  margin-left: 8px;
}

#lista:hover{
  color: var(--verde-limao);
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.carousel-item img {
  width: 50%;
  max-height: 300px;
  border-radius: 5px;
}

.carousel-inner {
  max-height: 400px;
}

.section-title {
  text-align: center;
  margin-top: 40px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.consultor {
  display: flex;
  align-items: center;
  width: calc(33.333% - 20px); 
  margin-bottom: 20px; 
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.consultor img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.consultor .info {
  flex: 1;
}

.consultor h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-family: var(--fonte-primaria);
}

p{
  font-family: var(--fonte-secundaria);
}

.consultor p {
  margin: 0;
  font-size: 14px;
  color: #666;
}


.footer {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--azul-escuro);
  color: var(--cor-secundaria);
}

.footer .row > div {
  margin-bottom: 20px;
}

.footer ul {
  font-family: var(--fonte-secundaria);
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer .list-inline {
  padding-left: 0;
}

.footer .list-inline img {
  width: 20px;
}

.footer .list-inline-item {
  margin-right: 10px;
}

.footer h5{
  font-family: var(--fonte-primaria);
}


/* Tela de Login */


.navbar-nav .nav-link {
  font-size: 14px;
}

.login-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.form-control {
  font-size: 14px;
}

.form-check-label {
  font-size: 14px;
}

.btn-block {
  font-size: 14px;
}

.formulario{
  margin-top: 20px;
}

/* Tela de Agendamento */

.container {
  max-width: 600px;
  margin: auto;
}

.agendamento {
  margin-top: 40px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group label {
  font-weight: bold;
}

#agendamento-form .form-control,
#agendamento-form button {
  margin-bottom: 15px;
}

#agendamento-form button {
  width: 100%;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}
