@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --cor-primaria: #171616; 
  --cor-secundaria: #EDEDED; 
  --azul-claro: #AFC1D0; 
  --azul-escuro: #1C3F60; 
  --verde-limao: #80FF00; 

  --fonte-primaria: 'Rubik', Arial, sans-serif;
  --fonte-secundaria: 'Roboto', Arial, sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-primaria)
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-item img {
  width: 50%;
  max-height: 300px;
}

.carousel-inner {
  max-height: 400px;
}

.section-title {
  text-align: center;
  margin-top: 40px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.consultor {
  display: flex;
  align-items: center;
  width: calc(33.333% - 20px); 
  margin-bottom: 20px; 
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.consultor img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.consultor .info {
  flex: 1;
}

.consultor h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-family: var(--fonte-primaria);
}

p{
  font-family: var(--fonte-secundaria);
}

.consultor p {
  margin: 0;
  font-size: 14px;
  color: #666;
}


.footer {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--azul-escuro);
  color: var(--cor-secundaria);
}

.footer .row > div {
  margin-bottom: 20px;
}

.footer ul {
  font-family: var(--fonte-secundaria);
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer h5{
  font-family: var(--fonte-primaria);
}

hr{
  border-color: var(--cor-secundaria);
}