<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Cliente</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/view.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/home}">
                <img src="/images/logo.png" width="30" height="30" alt="Logo">
                <span>TechConsult</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class=" d-flex navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/consultores}">Consultores</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/consultas}">Consultas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
                    <li class="nav-item"><a class=" text-white btn btn-custom ml-5" th:href="@{/logout}">Logout</a>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="card card-container ">
            <div class="card-header text-center">
                <h1>Perfil do Cliente</h1>
            </div>
            <div class="card-body d-flex justify-content-around">
                <div>
                    <p><strong>Nome da Empresa:</strong> <span th:text="${cliente.nomeEmpresa}"></span></p>
                    <p><strong>Nome do Responsavel:</strong> <span th:text="${cliente.nomeResponsavel}"></span></p>
                    <p><strong>cnpj:</strong> <span th:text="${cliente.cnpj}"></span></p>
                    <p><strong>Telefone:</strong> <span th:text="${cliente.telefone}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${cliente.email}"></span></p>
                    <p><strong>Senha:</strong> <span th:text="${cliente.senha}" class="senha"></span></p>
                    <p><strong>Data de Cadastro:</strong> <span
                            th:text="${#dates.format(cliente.dataCadastro, 'dd/MM/yyyy HH:mm:ss')}"></span></p>
                </div>
                <div class="d-flex align-self-center">
                    <img src="/images/logo.png" class="rounded-circle" alt="Foto do Cliente" width="230" height="230">
                </div>
            </div>

            <div class=" card-body d-flex flex-column mx-5 align-items-center">
                <h2>Consultas Marcadas</h2>
                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th>Consultor</th>
                            <th>Data</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="consulta : ${consultas}">
                            <td th:text="${consulta.consultor.nomeConsultor}"></td>
                            <td th:text="${#dates.format(consulta.dataConsulta, 'dd/MM/yyyy')}"></td>
                            <td th:text="${consulta.horaConsulta}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-center">
                <a class="btn btn-primary" th:href="@{/clientes}">Voltar</a>
            </div>
        </div>
    </div>



    <footer class="footer" id="contato">
        <div class=" container d-flex justify-content-around">
            <div>
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li>Email: techconsult@tc.com</li>
                    <li>Telefone: +55 11 1234-5678</li>
                    <li>Endereço: Rua da Computação, nº 53. Bairro Internet</li>
                </ul>
            </div>
            <div class="d-flex flex-column align-self-center">
                <h5>Redes Sociais</h5>
                <ul class="list-unstyled d-flex justify-content-between">
                    <li><a href="https://pt-br.facebook.com/login/device-based/regular/login/" target="_blank"><img
                                src="/images/redeSocial/facebook.png" width="20" alt="Facebook"></a></li>
                    <li><a href="https://x.com/" target="_blank"><img src="/images/redeSocial/x.png" width="20"
                                alt="X"></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/redeSocial/instagram.png"
                                width="20" alt="Instagram"></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><img src="/images/redeSocial/linkedin.png"
                                width="20" alt="LinkedIn"></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">Copyright &copy 2024 Squad 4, Alguns direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/verificadorDeAparecimentoDeSenha.js"></script>
</body>

</html>